# Based on: https://github.com/jakejarvis/cloudflare-purge-action

# Purges the Cloudflare CDN cache for this site, using a dedicated action.
# Triggers on successful deployment build automatically, no intervention required.

# Repo Secrets are used to inject the ZoneID and Cloudflare API Token.
# (token is restricted to only purging caches, and only on this site's domain)

name: 'Purge Cloudflare Cache'
on:
  workflow_run:
    workflows: ["Automatic build"]
    branches: [main]
    types:
      - completed

jobs:
  purge:
    runs-on: ubuntu-latest
    steps:

    # Put steps here to build your site, deploy it to a service, etc.

    - name: Cloudflare Purge Cache
      uses: jakejarvis/cloudflare-purge-action@v0.3.0

      env:
        # Zone is required by both authentication methods
        CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE_ID }}
        CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_PURGE_CACHE_TOKEN }}
